

* {
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.pantalla{
    width:100vw ;
    height: 100vh ;
    background-color: rgb(47, 5, 87);
    color: antiquewhite;
}
body{
    font-family:'Montserrat',sans-serif;
}
/* HEADER*/
.cabecera{  /*mejora la navegacion*/
    display:flex;   /* flex afecta todos los hijos vertical*/
    justify-content: space-between; /*separo iniciales de menu*/
    padding: 2em;
}
.menu{
    display: flex; /* 2ºflex hijo horizontal */
    width: 50%;
    justify-content: space-around; 
}     
.menu a{ 
    color: antiquewhite;
    text-decoration: none; /*linea abajo de la palabra en el ancla*/ 
    padding: 10px 20px;
}

.menu li{   /**/
    display: inline-block;
    margin-left: 20PX;  
    list-style: none; /* circulos de la lista*/
}
#detalle{
    color: rgb(190, 54, 224);
}
.menu a:hover{ /*cambia al pasar el mouse*/
    background-color:  rgb(190, 54, 224);
    color:rgb(47, 5, 87);
    transition:  ease-in .4s; /*permanencia del cambio de color*/
}
/*Main*/
main{
    margin:auto;
    width: 80vw;
    height: 80vh;
    display: grid; /*opcional */
    grid-template-columns: repeat(2,1fr); /*dos secciones */
    align-items: center;
    gap: 2em;
}
h1{
    font-size: 3em; /* grosor*/
}
span{
    color: rgb(190, 54, 224); 
    }
.download{
    padding: 10px 20px;
    background-color: rgb(190, 54, 224);
    border:none;
    border-radius: 20px; /* forma redondeada del boton*/
    margin-top: 10px;
    cursor: pointer; /* manito*/
}
.download:hover{
    background-color: antiquewhite;
}
main img{
    width: 350px;
    border: 7px solid rgb(190, 54, 224);
    height: 520px;
    z-index: 1;
    min-height: 300px;
}
.about{
   display:grid;
   grid-template-columns: repeat(10, 1fr);
   width: 100vw;
   align-items: center; /*centramos el texto*/
}
.about img{
    width: 100%;
    grid-column: 1/5;
}
.about-info{
    grid-column: 5/10;
    padding: 3em;
}
.about-info h2{
    font-size: 2em;
    color:rgb(47, 5, 87) ;
}
.dividir{ /* rayita*/
    height: 4px;
    width: 60px;
    background-color:  rgb(190, 54, 224);
    margin-top: 5px;
    margin-bottom: 1em;
}
.about p{
    margin-bottom: 1em;
}
/* PORTFOLIO*/
.portfolio{
    width:100vw ;
    height: 100vh;
    background-color: rgb(47, 5, 87);
    color: whitesmoke;
    padding: 3%;
}
.portfolio-cabecera,.contacto-cabecera{
    width: 100vw;
     display: flex;
    flex-direction: column;
    justify-content: center;

}
.portfolio-cabecera h2, .contacto-cabecera h2{
    font-size: 3em;
}
.container{
    width: 80vw;
    height: 80vh;
    margin:0 auto;
    display: flex;
    justify-content: center; /*ver*/
    align-items: center;
    flex-wrap: wrap;
}
.card{
   width: 300px;
   height: 350px;
   color: antiquewhite;
   background-color: rgb(205, 177, 231);
   margin:1em;
}
.card-img{
    width: 100%;
    height: 150px;
    background-image: url(../img/compu.jpg);    
    background-size: cover; /*que cubra toda la imagen*/
}
.card-title{
    padding: 20px;
    
}
.card-linksProyectos{
    display: flex;
    justify-content: space-evenly; /*ver*/
}
.card-linksProyectos i{
    font-size: 1.5em;
}
.card-linksProyectos a{
    color: antiquewhite;
    text-decoration: none;
}
.card-linksProyectos img{
    font-size: 1.5em;
}
.card-detallesProyecto{  
    margin: 0 auto;
    margin: 1em;
    width: 70%;   
}
.card-detallesProyecto a{
    text-decoration: none;
    color: rgb(47, 5, 87);
    text-transform: uppercase; /**/
}
.contenedor-detallesProyecto{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

/*seccion de contacto*/
.contacto{
    width:100vw ;
    height: 100vh;
    background-color: rgb(47, 5, 87);
    color: whitesmoke;
    padding: 3%;
}
.contacto-container{
    padding: 3em;
    margin: 0 auto;
    display: flex;
    float:left;
}
.contacto-container img{
    width: 600px;
    height: 700px;
    bottom: 0px;
    opacity: 20%;
    display: flex;
    flex-direction: column;
}
.formulario{
    margin: 15%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}
.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background-color: rgb(47, 5, 87);
    border: none;
    border-bottom: 1px solid antiquewhite;
    color: antiquewhite;
}
form textarea{
    height: 150px;
    background: none;
    color: antiquewhite;
    padding: 1.5em;
    border: 1px solid  antiquewhite;
}
.btn-submit{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgb(190, 54, 224);
    border-radius: 20px;
    cursor: pointer ;
}
.btn-submit:hover{
    background-color: antiquewhite;
}
.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: rgb(190, 54, 224) ;
}
.footer-contenedor h2{
    font-size: 3em;
}
.footer-contenedor h5{
    font-size: 1.5em;
}
.redes-sociales{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}
/*.redes-sociales{

}*/